.wrapper {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .map {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .text {
    grid-column: 2 /2;
    grid-row: 1;
  }

  .button {
    text-align: center;
}

.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
}
 
.divModal {
	background-color: #F0F0F0;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 8px;
	border: black solid 1px;
}


.inputModal {
	width: 500px;
	text-align: center;
	border-radius: 8px; 
	padding: 0.5rem 1rem;
}

.longmessage {
	height: 200px;
	text-align: revert;
}

.modalBtn {
	display: flex;
	padding-bottom: 10px;
    justify-content: center;
}

.buttonModal {
	margin-left : 5%;
	margin-right : 5%;
	margin-top : 2%;
}