@import "src/assets/scss/variables";
@import "src/assets/scss/theme";

form {
  display: flex;
  flex-direction: column;
  margin: 3rem 25vw;

  input {
    width: 95%;
    align-self: center;
    margin-bottom: 2rem;
  }

  button {
    margin-top: 5rem;
    align-self: center;
  }
}
