@import "src/assets/scss/variables";
@import "src/assets/scss/theme";

.wrapper {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .map {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .text {
    grid-column: 2 /2;
    grid-row: 1;
    margin-left: 15%;
    width: 200%;
  }

  .button {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

.content {
    @include form;
    margin: 10vh 15vw;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centrer {
  text-align: center;
}
