.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
}


.wrapper {
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.commandCard {
    background-color: #333333;
    grid-column: 3 / 3;
    grid-row: 1;
}