@import "src/assets/scss/variables";
@import "src/assets/scss/theme";

#title {
    margin-bottom: 70px;
}

h3 {
    color: #25BC76;
}

.text-center {
    text-align: center;
}

body {
    background-color: #FAFAFA;
}

.content {
    display: flex;
    margin: 25px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

$button_width:200px;
.action-button {
    font-size: 20px;
    button {
      font-size: 20px;
      font-weight: 200;
      width: $button_width;
	  margin-left: 50px;
	  
    }
}


.champ {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.champ .collabel {
    width: 15%;
	font-size: 15px;
}

.champ .colinput {
    width: 80%;
}

.champ label {
    color: #707070;
}

.champ input {
    background-color: #FFFFFF;
    padding: 7px 10px 7px 10px;
    color: #707070;
    border: 1px solid #707070;
    width: 100%;
}

#form {
    width: 100%;
    margin-right: auto;
	@include form;
}

