.wrapper {
  padding: 2rem 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .product {
    max-width: 15%;
    position: relative;
    color: white;
    .info {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: #000000c7;
      width: 100%;
      height: 100%;
      text-align: center;
      h4 {
        margin: 1rem 0;
        font-size: 13px;
      }
      span {
        font-size: 10px;
      }
    }

    &:hover .info {
      display: block;
    }
  }
}
