@import "src/assets/scss/variables";

header {
  display: flex;
  align-items: center;
  color: white;
  background: $black;
  padding: 2rem 2rem;
  font-size: 23px;
  font-weight: 300;
  border-bottom: #919191 1px solid;

  #logo {
    font-size: 35px;
    margin-right: auto;
  }

  #authentication {
    display: flex;
    align-items: center;
    i {
      margin: 0.5rem;
      cursor: pointer;
    }
  }
}
