name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Installation et construction du projet
      run: npm ci && npm run build

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
          username: "00maeldant00"
          password: "ccb441b4-5cb2-41a2-8964-a0c6d4f1d4fc"

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: 00maeldant00/filrouge-front:latest

