name: Node.js CI

on:
  push:
    branches: [ masters ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install and npm run build
      run: |
        npm ci
        npm run build
      
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
          username: "00maeldant00"
          password: "ccb441b4-5cb2-41a2-8964-a0c6d4f1d4fc"

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: 00maeldant00/filrouge-front:latest

