name: test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - shell: bash
      env:
        SUPER_SECRET: ${{ secrets.USERNAME }}
      run: echo "$SUPER_SECRET" >> test.t
        cat test.t
